<html>
<head>
    <title>Short Introduction of Myself</title>
</head>
<body>
    <div class="container">
        <div class="image-container">
            <a href="{{ '/about' | relative_url }}">
                <img src="/assets/img/me.png" alt="Shinyoung Park">
            </a>
        </div>
        <div class="right-text-container">
            <p>
                {% capture markdown_content %}
                    {% include short_intro.md %}
                {% endcapture %}
                {{ markdown_content | markdownify }}
            </p>
        </div>
    </div>
</body>
</html>